.red {
	color: red;
}

.green {
	color: rgb(8, 219, 8);
}

.book-details img {
	width: 15%;
}
button:not(.page-btn) {
	width: 200px;
}

.long-txt {
	width: 40vw;
	max-width: 600px;
	margin: 0;
	text-align: justify;
}
